* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(45deg, #141e30, #243b55);
	font-family: monospace;
	overflow: hidden;

}

.container {
	margin: 0 auto;
	height: 100vh;
	display: flex;
	max-width: 1400px;
	/* Adjust the max-width as needed */
	padding: 20px;
}

.text-h2 {
	color: #1abc9c;
	margin-bottom: 25px;
}

.container p {
	color: #fff;
}





/* Add styling for the radio buttons */
.radio-toolbar input[type="radio"] {
	display: none;
}

.radio-toolbar label {
	display: inline-block;
	padding: 8px 12px;
	color: #1abc9c;
	cursor: pointer;
	border: 2px solid #1abc9c;
	border-radius: 10px;
	margin-right: 10px;
	transition: background-color 0.3s ease-in-out;
	align-items: center;
}

.filter-button {
	background-color: #1abc9c;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	transition: background-color 0.3s ease-in-out;
	padding: 10px;
	/* Adjust padding as needed */
	margin: 5px;
	/* Adjust margin as needed */
	padding: 5px 10px;
	list-style-type: none
}

.filter-button:hover {
	background-color: #117b66;
	color: #fff;
}

.submit-btn {
	padding: 16px 12px;
	color: #117b66;
	background: transparent;
	cursor: pointer;
	border: 2px solid #117b66;
	border-radius: 10px;
	margin-top: 20px;
	width: 100%;
	transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
	background-color: #117b66;
	color: #fff;
}

.wrapper {
	margin: 0 auto;
	text-align: center;
}

.links {
	display: flex;
	flex-direction: column;
}

.disabled {
	background-color: #d3d3d3;
	/* Light gray background */
	color: #a9a9a9;
	/* Light gray text color */
	cursor: not-allowed;
	/* Change cursor to not-allowed */
	border: 1px solid #ccc;
	/* Light gray border */
	opacity: 0.7;
	/* Reduce opacity for a disabled look */
	/* Add any additional styling you want for a disabled button */
}

.navbar {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px;
	font-size: 18px;
}

.navbar h1 {
	color: #117b66;
	cursor: pointer;
}

.navbar-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
	/* Adjust the margin as needed */
}

.navbar-nav li {
	display: inline-block;
	margin-left: 15px;
	/* Adjust the margin as needed */
}

.navbar-nav a,
.navbar-nav button {
	text-decoration: none;
	color: #117b66;
	margin: 5px 0;
	cursor: pointer;
}

.navbar-nav button {
	background-color: transparent;
	border: none;
	color: #394a46;
	cursor: not-allowed;
}

.user a {
	color: #117b66;
	text-decoration: none;
	padding: 0 5px;
}

.phone-pic {
	width: 700px;
	height: 525px;
}

.gradient-text {
	font-family: "Abril Fatface", sans-serif;
	background: linear-gradient(to right, #1abc9c, #5563de, #243b55);
	background-size: 200% 200%;
	animation: rainbow 2s ease-in-out infinite;
	background-clip: text;
	-webkit-background-clip: text;
	color: #117b66;
	display: block;
	text-align: left;
	transition: color .2s ease-in-out;
	text-transform: uppercase;
	font-weight: 900;
	cursor: default;
}

.gradient-text:hover {
	color: rgba(0, 0, 0, 0);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

}

.left {
	flex: 1;
}

.right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-box {
	max-width: 700px;
	text-align: left;
}

.page-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	width: 100%;
	height: 60px;
	border: 2px solid #1abc9c;
	border-radius: 10px;
	color: #1abc9c;
	font-weight: bold;
	font-size: 20px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.page-link:hover {
	background-color: #1abc9c;
	color: #fff;
}


.paragraph-text {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 16px;
}



.phone-pic {
	max-width: 100%;

	/* Ensure the image is responsive */
}

.details-container {
	text-align: center;
	/* Centers the content horizontally */
	color: #ffffff;
	/* A light grey color, you can adjust this to any light color you prefer */
	font-family: Arial, sans-serif;
	height: 100vh;
	/* Setting a clean, readable font */
}

.details-table {
	margin: 20px auto;
	/* Centers the table on the page */
	border-collapse: collapse;
	/* Removes space between borders */
	width: 20%;
	/* Adjust the width as needed */
	font-size: 16px;
	/* Adjust font size as needed */
}

.details-table th,
.details-table td {
	border-bottom: 1px solid #ddd;
	/* Light grey border for the table cells */
	padding: 8px;
	/* Padding inside table cells */
}

.details-table th {
	/* Light grey background for table headers */
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	/* Align text to the left inside headers */
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.modal p {
	margin-bottom: 20px;
}

.modal button {
	margin-right: 10px;
}




@keyframes rainbow {
	0% {
		background-position: left
	}

	50% {
		background-position: right
	}

	100% {
		background-position: left
	}
}